# CMake build directories and files
/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.db

# Visual Studio Code settings
.vscode/

# Compiled binaries and libraries
*.exe
*.out
*.a
*.lib
*.dll
*.so

# Log files
*.log

# Custom build/output directories
out/
out/*/